:root {
    --black: #000;
    --off-black: #1a1a1a;
    --shadow: #444;
    --grey: #999;
    --light: #eee;
    --canvas-color-dark: var(--black);
    --canvas-color-mid: var(--grey);
    --canvas-color-light: var(--light);
    --highlight: rebeccapurple;
    --highlight-med: orchid;
    --highlight-light: #c2add6;
}

html {
    background: linear-gradient(to right, var(--off-black), var(--black), var(--off-black));
}

@media screen and (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

body {
    margin: 0 auto;
    max-width: 1000px;
    font-family: sans-serif;
    padding-bottom: 150px;
    line-height: 1.5em;
    color: white;
    
}

header {
    margin-top: 2em;
}

h1, h2 {
    margin: 0 0 0.5em;
    font-weight: 400;
    text-align: center;
    line-height: 0.75em;
    color: var(--light);
    text-wrap: balance;
    text-shadow: -1px -1px 2px var(--highlight),
                 -1px  1px 2px var(--highlight),
                  1px -1px 2px var(--highlight),
                  1px  1px 2px var(--highlight);
}

h1 {
    font-family: 'Rubik Dirt', cursive;
    font-size: min(8vw, 50pt);
    transition: 0.25s;
}
h2 {
    font-size: clamp(35px, 90%, 18vw);
    line-height: 1.1em;
    margin: 75px 0 25px;
    letter-spacing: 0.1em;
}
h3 {
    font-size: 1.5em;
    line-height: 1.25em;
    margin: 0.25em;
}
h3 small {
    display: block;
    font-size: 0.6em;
}
p, q, ul, ol {
    max-width: min(60ch, 90%);
    display: table;
    margin: 0 auto 1em;
}

a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    color: var(--highlight);
}
a:hover h1 {
    filter: invert(1);
}

ul {
    padding-left: 0;
    margin: 0 auto;
    display: table;
    text-align: left;
}

blockquote {
    margin: 0;
}